---
layout: default
---

<p>You are accessing my personal <a href="https://en.wikipedia.org/wiki/Name_server#Authoritative_name_server" target="_blank">authoritative</a> <b>D</b>omain <b>N</b>ame <b>S</b>ystem (<b>DNS</b>) service. This site provides information on my <a href="https://en.wikipedia.org/wiki/Name_server" target="_blank">DNS</a> servers configured to run a number of domains. This service provides full DNSSEC support.</p>

<ul>
    <li><b>ns1.mattrude.com</b> - The <i>master</i> DNS server, located in New York, New York, USA, running <a href="https://www.isc.org/downloads/bind/" target="_blank">BIND</a>.</li>
    <li><b>ns2.mattrude.com</b> - One of the <i>slave</i> servers, located in Germeny, running BIND.</li>
    <li><b>ns3.mattrude.com</b> - The other <i>slave</i> server, located in Oregon, USA, running BIND.</li>
    <li><b>ns4.mattrude.com</b> - A backup, unused, <i>slave</i> server, located in New York, New York, USA, running BIND.</li>
</ul>


<h2>Statistics</h2>
<center>
    <a href="/stats/"><img src="{{ site.url }}/img/dnsall-small.png" height='auto' width='771px' style="max-width: 99%;" /></a>
</center>

{% if site.categories.first[0] != null %}
<h2>Service Changelog</h2>
<div id="news">
<p>Below you will find the changelog for this Authoritative DNS Service.</p>
<ul>
  {% for post in site.posts %}
    <li>
      <h3><div id="category" class="{{ post.category }}">{{ post.category }}</div> {{ post.date | date: '%Y-%b-%d' }} - <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a></h3>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>
</div>
{% endif %}
